:root {
  --font-family: "Montserrat", sans-serif;
  --background-color-button: #72b7f2;
  --background-color-button-pseudo: #2887d9;
  --color-accent: #2887d9;
  --primary-text-color: #3a3b3d;
  --background-color: #eceff7;
  --background-color-footer: #d0e1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1286px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header {
  background: linear-gradient(180deg, #f0ebeb 0%, #eceff7 100%);
  padding-top: 40px;
  padding-bottom: 32px;
}

.header-menu-list {
  /* display: flex;
  gap: 40px; */
}

.header-menu-link {
  font-size: 20px;
  line-height: 220%;
  color: var(--primary-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--background-color-button-pseudo);
}

/* Hero */

.hero {
  padding-top: 200px;
  /* padding-bottom: 60px; */
}

.hero-list {
  display: flex;
  gap: 138px;
}

.hero-title {
  font-weight: 300;
  font-size: 99px;
  line-height: 46%;
  color: var(--color-accent);
  margin-bottom: 35px;
}

.hero-text {
  font-size: 17px;
  line-height: 183%;
  color: var(--color-accent);
  margin-bottom: 80px;
}

.hero-button {
  font-size: 22px;
  line-height: 137%;
  color: #fff;
  cursor: pointer;
  background-color: var(--background-color-button);
  padding: 18px 140px;
  border-radius: 50px;
  border: none;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--background-color-button-pseudo);
  box-shadow: 0 4px 32px 0 rgba(35, 63, 119, 0.5);
}

.hero-list-link {
  font-size: 9px;
  line-height: 129%;
  color: var(--primary-text-color);
}

/* Section 'about' */

.about {
  padding-top: 100px;
  padding-bottom: 50px;
}

.about-text {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
  margin-bottom: 50px;
}

.about-list-title-1 {
  font-weight: 300;
  font-size: 113px;
  text-align: center;
  color: #edbbd6;
}

.about-list-title-2 {
  font-weight: 300;
  font-size: 106px;
  text-align: center;
  color: var(--color-accent);
}

.about-list-title-3 {
  font-weight: 300;
  font-size: 106px;
  text-align: center;
  color: #58d7d0;
}

.about-list-title-4 {
  font-weight: 300;
  font-size: 106px;
  text-align: center;
  color: #facf4f;
}

.about-list-text {
  font-size: 22px;
  text-align: center;
  color: var(--color-accent);
}

.about-list-item-container {
  border-radius: 40px 0 0 0;
  width: 620px;
  height: 280px;
}

/* .about-section {
  display: flex;
} */

.pations {
  background-color: #f3dfea;
}

.vacinations {
  border-radius: 0 40px 0 0;
  background-color: #d0e1f1;
}

.research {
  border-radius: 0 0 0 40px;
  background-color: #cef2f0;
}

.care {
  border-radius: 0 0 40px 0;
  background-color: #fce296;
}

/* Doctorpage */

.doctorpage {
  padding-top: 32px;
  padding-bottom: 80px;
}

.doctorpage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
  padding-top: 40px;
  padding-left: 36px;
  padding-bottom: 50px;
}

.doctorpage-list {
  display: flex;
  gap: 68px;
}

.doctorpage-list-title {
  font-weight: 400;
  font-size: 68px;
  line-height: 46%;
  color: #d1a4bc;
  margin-bottom: 32px;
}

.doctorpage-list-text {
  font-size: 22px;
  text-align: center;
  color: var(--color-accent);
}

.doctorpage-button {
  font-size: 22px;
  line-height: 137%;
  color: #fff;
  cursor: pointer;
  background-color: var(--background-color-button);
  border: none;
  padding: 18px 209px;
  border-radius: 50px;
}

.doctorpage-accent {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.doctorpage-section {
  border: 1px solid #a4cef5;
  border-radius: 50px;
  width: 520px;
  height: 280px;
}

.doctorpage-photo-container {
  margin-bottom: 80px;
}

/* paymentspage */

.paymentspage {
  padding-top: 0;
  padding-bottom: 32px;
}

.paymentspage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
  margin-bottom: 68px;
}

.paymentspage-list-text {
  font-size: 22px;
  line-height: 183%;
  color: var(--color-accent);
  padding: 179px 80px 47px;
  text-align: center;
}

.paymentspage-list-item {
  display: inline-block;
  margin-bottom: 54px;
  background-color: #cef2f0;
  border-radius: 50px;
  width: 270px;
  height: 270px;
  border: 1px solid #72b7f2;
  border-radius: 50px;
}

.paymentspage-list-item-last {
  border: 1px solid #72b7f2;
  border-radius: 50px;
  width: 270px;
  height: 270px;
  background-color: var(--background-color);
}

.paymentspage-list-item:hover,
.paymentspage-list-item:focus {
  box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.12);
  background: #f3dcdc;
  border: 2px solid var(--background-color-button-pseudo);
}

.paymentspage-list-item-last:hover,
.paymentspage-list-item-last:focus {
  border: 2px solid var(--background-color-button-pseudo);
}

.paymentspage-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

/* questionspage */

.questionspage {
  padding-top: 24px;
  padding-bottom: 93px;
}

.questionspage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
  margin-bottom: 74px;
}

.questionspage-list-item {
  font-weight: 600;
  font-size: 22px;
  line-height: 137%;
  color: var(--primary-text-color);
  margin-bottom: 56px;
}

.questionspage-list-item:hover,
.questionspage-list-item:focus {
  color: var(--background-color-button-pseudo);
}

.questionspage-list-ordered-item {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-accent);
  border-bottom: 1px solid #72b7f2;
  padding: 32px 32px 32px 23px;
  width: 1053px;
  height: 98px;
}

.questionspage-list-container {
  background-color: #f3dcdc;
  border-radius: 50px;
  padding: 56px;
  width: 449px;
  height: 720px;
  margin-bottom: 93px;
}

.questionspage-container {
  display: flex;
  gap: 124px;
  margin-right: 194px;
}

/* responsepage */

.responsepage {
  padding-top: 0;
  padding-bottom: 98px;
  /* 23px - with pic */
}

.responsepage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
  margin-bottom: 100px;
}

.responsepage-list-text {
  font-size: 22px;
  color: var(--primary-text-color);
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 38px 39px 38px 80px;
}

.responsepage-list-item {
  display: flex;
}

.responsepage-list-text-container {
  background-color: #f2f3f5;
  border: 1px solid var(--background-color-button);
  border-radius: 50px;
  margin-bottom: 50px;
}

.responsepage-container {
  display: flex;
  gap: 60px;
}

.responsepage-photo {
  margin-bottom: 98px;
}

/* FOOTER */

.footer {
  background-color: var(--background-color-footer);
  padding-top: 18px;
  padding-bottom: 18px;
}

.address-list {
  display: flex;
  gap: 140px;
}

.address-list-item-text {
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  font-style: normal;
}

.address-list-item-link {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
  font-style: normal;
}

.footer-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
}

.footer-info-list-item {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
}

.footer-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
}

.footer-nav-list-link {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
}

.footer-service {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
}

.footer-service-list-item {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
}

.footer-nav-text:hover,
.footer-nav-text:focus {
  color: var(--color-accent);
}
