:root {
  --font-family: "Montserrat", sans-serif;
  --background-color-button: #72b7f2;
  --background-color-button-pseudo: #2887d9;
  --color-accent: #2887d9;
  --primary-text-color: #3a3b3d;
  --background-color: #eceff7;
  --background-color-footer: #d0e1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 392px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */

.header {
  background: linear-gradient(180deg, #f0ebeb 0%, #eceff7 100%);
  padding-top: 20px;
  padding-bottom: 32px;
}

.header-navigation {
  display: flex;
}

.logo-icon {
  fill: #2887d9;
  stroke: transparent;
}

.logo-photo {
  margin-bottom: 4px;
}

.header-menu-list {
  display: none;
  gap: 32px;
  margin-left: auto;
}

.header-menu-link {
  font-size: 20px;
  line-height: 220%;
  color: var(--primary-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--background-color-button-pseudo);
}

.logo:focus,
.logo:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-in-out;
}

.header-menu-nav {
  display: flex;
  gap: 56px;
}

.header-menu-icon:focus,
.header-menu-icon:hover {
  transform: scale(1.25);
  transition: transform 250ms ease-in-out;
}

.header-search-icon:focus,
.header-search-icon:hover {
  transform: scale(1.25);
  transition: transform 250ms ease-in-out;
}

/* Hero */

.hero-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--background-color-button);
}

.hero-container-second {
  margin-left: auto;
}

.hero-list {
  display: flex;
  gap: 40px;
  margin-bottom: 36px;
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #72b7f2;
  margin-bottom: 8px;
}

.hero-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.hero-list-icon {
  margin-bottom: 16px;
}

.hero-list-text {
  width: 124px;
}

.hero-text {
  width: 214px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--background-color-button);
  margin-bottom: 80px;
}

.hero-button {
  border-radius: 20px;
  width: 342px;
  height: 46px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #fff;
  cursor: pointer;
  background-color: var(--background-color-button);
  /* padding: 18px 140px; */
  /* border-radius: 50px; */
  border: none;
  margin-bottom: 32px;
  transition-duration: 300ms;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--background-color-button-pseudo);
  box-shadow: 0 4px 32px 0 rgba(35, 63, 119, 0.5);
}

.hero-list-link {
  font-size: 9px;
  line-height: 129%;
  color: var(--primary-text-color);
}

.hero-photo-phone {
  display: flex;
}

.hero-phone-icon {
  border: 2px solid #2887d9;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  background-color: #d0e1f1;
  padding: 16px 10px 16px 18px;
}

.hero-phone-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #83a9c9;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  align-self: flex-end;
  position: fixed;
  bottom: 29px;
  right: 64px;
}

.hero-phone-icon-container:focus,
.hero-phone-icon-container:hover {
  background-color: var(--background-color-button-pseudo);
  box-shadow: 0 4px 32px 0 rgba(35, 63, 119, 0.5);
}

.hero-phone-icon:focus,
.hero-phone-icon:hover {
  transform: scale(1.15);
  transition: transform 250ms ease-in-out;
}

/* Section 'about' */

.about {
  padding-top: 32px;
  padding-bottom: 0;
}

.about-section {
  width: 392px;
}

.about-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: var(--color-accent);
  margin-bottom: 24px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-list-item:focus,
.about-list-item:hover {
  transform: scale(1.07);
  transition: transform 250ms ease-in-out;
}

.about-list-title {
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
}

.first {
  font-size: 64px;
  color: #edbbd6;
}

.second {
  font-size: 64px;
  color: var(--color-accent);
}

.third {
  font-size: 64px;
  color: #58d7d0;
}

.fourth {
  font-size: 64px;
  color: #facf4f;
}

.about-list-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: var(--color-accent);
  max-width: 153px;
}

.about-list-item {
  /* border-radius: 40px 0 0 0; */
  display: flex;
  justify-content: space-evenly;
  width: 392px;
  height: 86px;
}

.pations {
  background-color: #f3dfea;
}

.vacinations {
  background-color: #d0e1f1;
}

.research {
  background-color: #cef2f0;
}

.care {
  background-color: #fce296;
}

/* Doctorpage */

.doctorpage {
  padding-top: 9px;
  padding-bottom: 29px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.doctorpage-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: var(--color-accent);
  padding-top: 23px;
  margin-bottom: 170px;
  /* padding-left: 36px;
  padding-bottom: 50px; */
}

.doctorpage-list {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-bottom: 11px;
}

.doctorpage-list-title {
  font-weight: 400;
  font-size: 48px;
  color: #d1a4bc;
  margin-bottom: 16px;
}

.doctorpage-list-text {
  font-size: 16px;
  text-align: center;
  color: var(--color-accent);
}

.doctorpage-button {
  width: 342px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: var(--background-color-button);
  border: none;
  border-radius: 20px;
  transition-duration: 300ms;
  height: 46px;
}

.doctorpage-accent {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.doctorpage-photo-container {
  margin-bottom: 80px;
  position: relative;
  padding-top: 72px;
  left: -124px;
}

.doctorpage-photo-list-item {
  position: absolute;
  right: -66px;
  top: 10px;
}

.pos-first {
  width: 139px;
}

.pos-second {
  position: absolute;
  top: 75px;
  left: -224px;
  width: 112px;
}

.pos-third {
  display: none;
}

/* paymentspage */

.paymentspage {
  padding-top: 0;
  padding-bottom: 15px;
}

.paymentspage-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: var(--color-accent);
  margin-bottom: 20px;
}

.paymentspage-list-text {
  font-size: 11px;
  line-height: 183%;
  color: var(--color-accent);
  /* padding: 179px 80px 47px; */
  text-align: center;
}

.paymentspage-list {
  display: flex;
}

.paymentspage-list-item {
  min-width: 128px;
  background-color: #cef2f0;
  border-radius: 50px;
  max-height: 128px;
  border: 1px solid #72b7f2;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.paymentspage-list-container {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  position: relative;
}

.paymentspage-list-icon {
  margin: auto;
  margin-bottom: 15px;
}

.last {
  border: 1px solid #72b7f2;
  border-radius: 50px;
  width: 270px;
  height: 270px;
  background-color: var(--background-color);
  width: calc((100% - 4 * 65px) / 5);
  max-height: 180px;
}

.paymentspage-list-item:hover,
.paymentspage-list-item:focus {
  box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.12);
  background: #f3dcdc;
  border: 2px solid var(--background-color-button-pseudo);
}

.paymentspage-list-item-last:hover,
.paymentspage-list-item-last:focus {
  border: 2px solid var(--background-color-button-pseudo);
}

.paymentspage-list {
  display: flex;
  gap: 44px;
}

.paymentspage-swap-list {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.paymentspage-swap-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2887d9;
}

.paymentspage-swap {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d0e1f1;
}

/* questionspage */

.questionspage {
  padding-top: 32px;
  padding-bottom: 55px;
}

.questionspage-wrapper {
  display: flex;
}

.questionspage-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: var(--color-accent);
  margin-bottom: 34px;
}

.questionspage-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--primary-text-color);
  margin-bottom: 56px;
  min-width: 285px;
}

.questionspage-list-item:nth-last-child(1) {
  margin-bottom: 108px;
}

.questionspage-list-item:hover,
.questionspage-list-item:focus {
  color: var(--background-color-button-pseudo);
}

.questionspage-list-ordered-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--color-accent);
  border-bottom: 1px solid #72b7f2;
  padding: 32px 32px 32px 23px;
  width: 272px;
  height: 98px;
}

.questionspage-list-container {
  background-color: #f3dcdc;
  border-radius: 50px;
  padding: 40px;
  max-width: 225px;
  height: 362px;
  margin-bottom: 32px;
}

.questionspage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* responsepage */

.responsepage {
  padding-top: 0;
  padding-bottom: 24px;
  /* 23px - with pic */
}

.responsepage-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: var(--color-accent);
  margin-bottom: 34px;
}

.responsepage-list-text {
  font-size: 13px;
  color: var(--primary-text-color);
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  padding-left: 33px;
}

.responsepage-list-item {
  display: flex;
  position: relative;
}

.responsepage-list-text-container {
  background-color: #f2f3f5;
  border: 1px solid var(--background-color-button);
  border-radius: 50px;
  margin-bottom: 50px;
  width: 280px;
  height: 140px;
  display: flex;
}

.responsepage-container {
  display: flex;
  gap: 60px;
}

.responsepage-container-reply {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 62px;
}

.responsepage-photo {
  display: none;
  margin-bottom: 98px;
  width: 742px;
  height: 730px;
  margin: 0 auto;
}

.responsepage-list-photo {
  position: absolute;
  left: -20%;
  top: 32px;
}

.responsepage-list {
  position: relative;
}

.responsepage-icon {
  display: flex;
  fill: transparent;
  stroke: #2887d9;
  align-self: flex-end;
  position: absolute;
}

.responsepage-icon:focus,
.responsepage-icon:hover {
  border-radius: 50%;
  box-shadow: 0 4px 32px 0 rgba(35, 63, 119, 0.5);
  transform: scale(1.25);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

/* Modal */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: 46px 54px 68px 60px;
  background-color: #eceff7;
  font-weight: 600;
  font-size: 32px;
  line-height: 137%;
  color: #2887d9;
  max-width: 1302px;
  max-height: 80%;
  overflow-y: auto;
}

.modal-button {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: transparent;
}

.modal-button:focus,
.modal-button:hover {
  transform: scale(1.25);
  transition: transform 250ms ease-in-out;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 137%;
  color: #2887d9;
  padding: 28px 28px;
}

.modal-title-wrapper {
  display: flex;
  gap: 456px;
  background-color: #d0e1f1;
}

.modal-title-list {
  font-weight: 600;
  font-size: 24px;
  line-height: 183%;
  color: #2887d9;
  padding: 8px 16px;
  padding-left: 116px;
  width: 1058px;
  height: 60px;
}

.modal-medlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 24px;
  color: #3a3b3d;
  padding: 8px 8px;
}

.modal-medlist-icon {
  fill: transparent;
  stroke: black;
  margin-right: 56px;
}

.modal-paylist-item {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  padding-right: 128px;
  font-weight: 700;
  font-size: 20px;
  line-height: 220%;
  color: #2887d9;
}

/* FOOTER */

.footer {
  background-color: var(--background-color-footer);
  padding-top: 12px;
  padding-bottom: 18px;
  /* width: 1920px;  */
}

.address {
  margin-bottom: 18px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 18px;
}

.address-list-item-text {
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  font-style: normal;
}

.address-list-item-link {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
  font-style: normal;
}

.address-list-container {
  display: flex;
  gap: 16px;
}

.address-list-item-container {
  flex-direction: column;
  min-width: 300px;
}

.address-container {
  border-bottom: 1px solid var(--background-color-button);
}

.soc-nav {
  display: flex;
  gap: 24px;
  translate: 50%;
}

.soc-nav-icon:focus,
.soc-nav-icon:hover {
  transform: scale(1.2);
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.footer-container {
  display: flex;
  padding-top: 20px;
}

.footer-info-logo {
  margin-right: 90px;
  position: relative;
}

.footer-info-first {
  display: none;
  margin-right: 161px;
  min-width: 418px;
}

.footer-info-second {
  display: none;
  margin-right: 247px;
}

.footer-info-third {
  display: none;
  min-width: 142px;
}

.footer-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  margin-bottom: 8px;
}

.footer-info-list-item {
  /* list-style-type: circle; */
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.footer-info-list-item::before {
  content: "•";
  font-size: 20px;
  padding-right: 5px;
}

.footer-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  margin-bottom: 8px;
}

.footer-nav-list {
  width: 96px;
}

.footer-nav-list-item {
  margin-bottom: 8px;
}

.footer-nav-list-link {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
}

.footer-service {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  margin-bottom: 8px;
}

.footer-service-list {
  width: 155px;
}

.footer-service-list-item {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.footer-nav-text:hover,
.footer-nav-text:focus {
  color: var(--color-accent);
}

.logo-footer {
  display: none;
}

/* MEDIA LAPTOP */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* HEADER  */

  .header {
    padding-top: 40px;
    padding-bottom: 37px;
  }

  .logo-photo {
    margin-bottom: 8px;
  }

  .header-menu-list {
    display: flex;
    gap: 16px;
  }

  .header-menu-link {
    font-size: 14px;
    line-height: 220%;
  }

  .header-menu-nav {
    display: flex;
    gap: 0;
  }

  .header-menu-icon {
    display: none;
  }

  .header-search-icon {
    display: none;
  }

  .header-navigation {
    gap: 50px;
  }

  /* HERO */

  .hero-section {
    align-items: flex-end;
  }

  .hero-title {
    font-weight: 300;
    font-size: 99px;
    line-height: 46%;
    color: #2887d9;
    margin-top: 108px;
    margin-bottom: 32px;
  }

  .hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 183%;
    color: #2887d9;
    width: 100%;
    margin-bottom: 60px;
  }

  .hero-list {
    display: flex;
    gap: 96px;
    margin-bottom: 92px;
  }

  .hero-button {
    width: 452px;
    height: 55px;
    font-weight: 400;
    font-size: 18px;
    line-height: 137%;
    margin-bottom: 96px;
  }

  .hero-photo {
    max-width: 294px;
    height: 484px;
  }

  /* ABOUT */

  .about {
    padding-top: 37px;
    padding-bottom: 57px;
  }

  .about-section {
    width: 786px;
  }

  .about-text {
    font-weight: 600;
    font-size: 34px;
    line-height: 92%;
    margin-bottom: 31px;
  }

  .about-list-title {
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
  }

  .first {
    font-size: 72px;
  }

  .second {
    font-size: 72px;
  }

  .third {
    font-size: 72px;
  }

  .fourth {
    font-size: 72px;
  }

  .about-list-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    color: var(--color-accent);
    max-width: 352px;
  }

  .about-list-item {
    /* border-radius: 40px 0 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 392px;
    height: 200px;
  }

  .pations {
    border-radius: 40px 0 0 0;
  }

  .vacinations {
    border-radius: 0 40px 0 0;
  }

  .research {
    border-radius: 0 0 0 40px;
  }

  .care {
    border-radius: 0 0 40px 0;
  }

  /* DOCTORPAGE */

  .doctorpage {
    padding-top: 52px;
    padding-bottom: 192px;
  }

  .doctorpage-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 92%;
    padding-left: 24px;
    padding-top: 24px;
    margin-bottom: 32px;
  }

  .doctorpage-list {
    display: flex;
    align-items: center;
    gap: 47px;
    margin-bottom: 40px;
  }

  .doctorpage-list-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .doctorpage-list-title {
    font-size: 68px;
    margin-bottom: 8px;
  }

  .doctorpage-list-text {
    font-size: 22px;
    text-align: center;
    color: var(--color-accent);
    padding-left: 14px;
  }

  .doctorpage-container {
    border: 1px solid #a4cef5;
    border-radius: 50px;
    width: 480px;
    height: 240px;
    position: relative;
  }

  .doctorpage-button {
    width: 452px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: var(--background-color-button);
    border: none;
    border-radius: 36px;
    transition-duration: 300ms;
    height: 56px;
    position: absolute;
    top: 94%;
    right: 16px;
  }

  .doctorpage-accent {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }

  .doctorpage-photo-container {
    margin-bottom: 80px;
    position: relative;
    left: 0;
  }

  .doctorpage-photo-list-item {
    position: absolute;
    right: -66px;
    top: 10px;
  }

  .pos-first {
    width: 139px;
    height: 139px;
    right: 100px;
    top: -60px;
  }

  .pos-second {
    position: absolute;
    top: -75px;
    left: 0;
    width: 180px;
    height: 180px;
  }

  .pos-third {
    display: block;
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 96px;
    left: -150px;
  }

  /* PAYMENTSPAGE */

  .paymentspage {
    padding-top: 0;
    padding-bottom: 0;
  }

  .paymentspage-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 92%;
    margin-bottom: 35px;
  }

  .paymentspage-list-text {
    font-size: 17px;
    line-height: 183%;
    text-align: center;
  }

  .paymentspage-list-icon {
    width: 69px;
    height: 71px;
  }

  .paymentspage-list {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
  }

  .paymentspage-list-item {
    min-height: 180px;
    width: 180px;
    margin-bottom: 38px;
    background-color: #cef2f0;
    border-radius: 50px;
    border: 1px solid #72b7f2;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
  }

  .paymentspage-list-container {
    padding-top: 30px;
  }

  .paymentspage-list-icon {
    margin-bottom: 16px;
  }

  .paymentspage-list {
    justify-content: center;
  }

  .line::after {
    content: "";
    width: 65px;
    border: 1px solid var(--background-color-button);
    position: absolute;
    right: -65px;
    bottom: 50%;
  }

  .paymentspage-swap-list {
    display: none;
  }

  /* QUESTIONSPAGE */

  .questionspage {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .questionspage-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 92%;
    margin-bottom: 24px;
  }

  .questionspage-wrapper {
    display: flex;
    flex-direction: row;
    gap: 118px;
    align-items: flex-start;
  }

  .questionspage-list-item {
    font-weight: 600;
    font-size: 22px;
    line-height: 138%;
    margin-bottom: 24px;
  }

  .questionspage-list-container {
    border-radius: 36px;
    padding: 39px;
    max-width: 319px;
    height: 1042px;
  }

  .questionspage-list-circle-average {
    width: 125px;
    height: 126px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #72b7f2;
    margin-bottom: 145px;
  }

  .questionspage-list-circle-big {
    width: 206px;
    height: 195px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #72b7f2;
    margin-bottom: 126px;
  }

  .questionspage-list-circle-small {
    width: 92px;
    height: 92px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #72b7f2;
  }

  .questionspage-list-item:nth-last-child(1) {
    margin-bottom: 75px;
  }

  .questionspage-list-ordered-item {
    font-weight: 600;
    font-size: 18px;
    width: 290px;
    height: 98px;
  }

  /* RESPONSEPAGE */

  .responsepage {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .responsepage-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 92%;
    margin-bottom: 24px;
  }

  .responsepage-list-text {
    font-size: 22px;
    padding-left: 57px;
  }

  .responsepage-list-item {
    display: flex;
    position: relative;
  }

  .responsepage-list-text-container {
    border-radius: 40px;
    width: 484px;
    height: 242px;
    display: flex;
  }

  .responsepage-container {
    display: flex;
    gap: 70px;
  }

  .responsepage-photo {
    display: block;
    margin-bottom: 98px;
    width: 528px;
    height: 520px;
    margin: 0 auto;
  }

  .responsepage-list-photo {
    width: 140px;
    height: 140px;
    left: -20%;
    top: 50px;
  }

  .responsepage-list {
    position: relative;
  }

  .responsepage-icon {
    display: flex;
    fill: transparent;
    stroke: #2887d9;
    align-self: flex-end;
    position: absolute;
  }

  /* FOOTER */

  .footer {
    background-color: var(--background-color-footer);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 17px;
  }

  .address {
    margin-bottom: 14px;
  }

  .address-list {
    flex-direction: row;
    margin-bottom: 14px;
  }

  .address-list-item-text {
    font-size: 11px;
    line-height: 150%;
  }

  .address-list-item-link {
    font-size: 11px;
    line-height: 150%;
  }

  .soc-nav {
    gap: 12px;
    translate: 0;
  }

  .footer-container {
    display: flex;
    padding-top: 20px;
  }

  .footer-info-logo {
    margin-right: 50px;
    position: relative;
  }

  .footer-info-first {
    display: block;
    margin-right: 100px;
    font-size: 11px;
    line-height: 150%;
    min-width: 279px;
  }

  .footer-info-second {
    display: block;
    margin-right: 100px;
  }

  .footer-info-third {
    display: block;
    min-width: 142px;
  }

  .footer-info {
    font-weight: 600;
    font-size: 11px;
    line-height: 150%;
  }

  .footer-nav {
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
  }

  .footer-service {
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
  }

  .footer-info-list-item {
    font-size: 11px;
    line-height: 150%;
  }

  .footer-nav-text {
    font-size: 11px;
    line-height: 150%;
  }

  .footer-service-list-item {
    font-size: 11px;
    line-height: 150%;
  }
}

/* MEDIA DESKTOP */

@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }

  /* HEADER  */

  .header {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .logo-photo {
    margin-bottom: 16px;
  }

  .header-menu-list {
    display: flex;
    gap: 32px;
  }

  .header-menu-link {
    font-size: 20px;
    line-height: 220%;
  }

  .header-menu-icon {
    display: none;
  }

  .header-search-icon {
    display: none;
  }

  .logo {
    width: 42px;
    height: 42px;
  }

  /* HERO */

  .hero-section {
    display: flex;
    gap: 286px;
  }

  .hero-title {
    font-weight: 300;
    font-size: 140px;
    line-height: 46%;
    margin-top: 258px;
    margin-bottom: 40px;
  }

  .hero-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 183%;
    margin-bottom: 80px;
  }

  .hero-list {
    gap: 138px;
    margin-bottom: 68px;
  }

  .hero-button {
    width: 636px;
    height: 80px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 32px;
    line-height: 137%;
    margin-bottom: 150px;
  }

  .hero-photo {
    max-width: 500px;
    height: 672px;
  }

  /* ABOUT */

  .about {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .about-section {
    width: 1440px;
  }

  .about-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 50px;
  }

  .about-list-title {
    font-weight: 300;
    text-align: center;
  }

  .first {
    font-size: 113px;
  }

  .second {
    font-size: 106px;
  }

  .third {
    font-size: 106px;
  }

  .fourth {
    font-size: 106px;
  }

  .about-list-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    max-width: 364px;
  }

  .about-list-item {
    width: 647px;
    height: 300px;
  }

  .pations {
    border-radius: 50px 0 0 0;
  }

  .vacinations {
    border-radius: 0 50px 0 0;
  }

  .research {
    border-radius: 0 0 0 50px;
  }

  .care {
    border-radius: 0 0 50px 0;
  }

  /* DOCTORPAGE */

  .doctorpage {
    padding-top: 200px;
    padding-bottom: 224px;
  }

  .doctorpage-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    padding-left: 36px;
    padding-top: 40px;
    margin-bottom: 52px;
  }

  .doctorpage-list {
    display: flex;
    align-items: center;
    gap: 47px;
    margin-bottom: 40px;
  }

  .doctorpage-list-title {
    font-weight: 400;
    font-size: 96px;
    padding-left: 39px;
  }

  .doctorpage-list-text {
    font-size: 32px;
    text-align: center;
    padding-left: 39px;
  }

  .doctorpage-container {
    border: 1px solid #a4cef5;
    border-radius: 50px;
    width: 734px;
    height: 356px;
    position: relative;
  }

  .doctorpage-button {
    border-radius: 50px;
    width: 704px;
    min-height: 80px;
    font-weight: 400;
    font-size: 32px;
    line-height: 137%;
    text-align: center;
    transition-duration: 300ms;
    height: 56px;
    position: absolute;
    top: 94%;
    right: 16px;
  }

  .doctorpage-accent {
    font-weight: 600;
    font-size: 32px;
  }

  .doctorpage-photo-container {
    margin-bottom: 80px;
    position: relative;
    left: 0;
  }

  .doctorpage-photo-list-item {
    position: absolute;
    top: 10px;
  }

  .pos-first {
    width: 270px;
    height: 270px;
    top: -132px;
    right: 192px;
  }

  .pos-second {
    position: absolute;
    top: -172px;
    width: 266px;
    height: 270px;
  }

  .pos-third {
    display: block;
    min-width: 391px;
    min-height: 398px;
    position: absolute;
    top: 108px;
    left: -246px;
  }

  /* PAYMENTSPAGE */

  .paymentspage {
    padding-top: 0;
    padding-bottom: 32px;
  }

  .paymentspage-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 68px;
  }

  .paymentspage-list-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 183%;
  }

  .paymentspage-list-icon {
    width: 95px;
    height: 95px;
  }

  .paymentspage-list {
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
  }

  .paymentspage-list-item {
    min-height: 270px;
    width: 270px;
  }

  .paymentspage-list-container {
    padding-top: 54px;
  }

  .paymentspage-list-icon {
    margin-bottom: 32px;
  }

  .line::after {
    content: "";
    width: 65px;
    border: 1px solid var(--background-color-button);
    position: absolute;
    right: -65px;
    bottom: 50%;
  }

  .line-desktop::after {
    content: "";
    width: 65px;
    border: 1px solid var(--background-color-button);
    position: absolute;
    right: -65px;
    bottom: 50%;
  }

  .none::after {
    display: none;
  }

  .paymentspage-swap-list {
    display: none;
  }

  /* QUESTIONSPAGE */

  .questionspage {
    padding-top: 24px;
    padding-bottom: 93px;
  }

  .questionspage-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 74px;
  }

  .questionspage-wrapper {
    display: flex;
    flex-direction: row;
    gap: 126px;
    align-items: flex-start;
  }

  .questionspage-list-item {
    font-weight: 600;
    font-size: 32px;
    line-height: 137%;
    margin-bottom: 56px;
  }

  .questionspage-list-container {
    border-radius: 50px;
    padding: 56px;
    min-width: 449px;
    height: 1466px;
  }

  .questionspage-list-circle-average {
    width: 176px;
    height: 177px;
    margin-bottom: 175px;
  }

  .questionspage-list-circle-big {
    width: 290px;
    height: 275px;
    margin-bottom: 177px;
  }

  .questionspage-list-circle-small {
    width: 130px;
    height: 130px;
  }

  .questionspage-list-item:nth-last-child(1) {
    margin-bottom: 23px;
  }

  .questionspage-list {
    margin-bottom: 109px;
  }

  .questionspage-list-ordered-item {
    font-weight: 600;
    font-size: 32px;
    width: 832px;
    height: 98px;
  }
}
