:root {
  --font-family: "Montserrat", sans-serif;
  --background-color-button: #72b7f2;
  --background-color-button-pseudo: #2887d9;
  --color-accent: #2887d9;
  --primary-text-color: #3a3b3d;
  --background-color: #eceff7;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */

.header {
  background: linear-gradient(180deg, #f0ebeb 0%, #eceff7 100%);
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  font-size: 20px;
  line-height: 220%;
  color: var(--primary-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--background-color-button-pseudo);
}

.header-menu-image {
}

/* Hero */

.hero {
}

.hero-list {
  display: flex;
  gap: 138px;
}

.hero-title {
  font-weight: 300;
  font-size: 99px;
  line-height: 46%;
  color: var(--color-accent);
  margin-bottom: 35px;
}

.hero-text {
  font-size: 17px;
  line-height: 183%;
  color: var(--color-accent);
  margin-bottom: 80px;
}

.hero-button {
  font-size: 22px;
  line-height: 137%;
  color: #fff;
  cursor: pointer;
  background-color: var(--background-color-button);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--background-color-button-pseudo);
  box-shadow: 0 4px 32px 0 rgba(35, 63, 119, 0.5);
}

.hero-list-link {
  font-size: 9px;
  line-height: 129%;
  color: var(--primary-text-color);
}

.hero-photo {
}

/* Section 'about' */

.about-text {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
}

.about-list-title-1 {
  font-weight: 300;
  font-size: 113px;
  text-align: center;
  color: #edbbd6;
}

.about-list-title-2 {
  font-weight: 300;
  font-size: 106px;
  text-align: center;
  color: var(--color-accent);
}

.about-list-title-3 {
  font-weight: 300;
  font-size: 106px;
  text-align: center;
  color: #58d7d0;
}

.about-list-title-4 {
  font-weight: 300;
  font-size: 106px;
  text-align: center;
  color: #facf4f;
}

.about-list-text {
  font-size: 22px;
  text-align: center;
  color: var(--color-accent);
}

/* Doctorpage */

.doctorpage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
}

.doctorpage-list {
  display: flex;
  gap: 68px;
}

.doctorpage-list-title {
  font-weight: 400;
  font-size: 96px;
  line-height: 46%;
  color: #d1a4bc;
}

.doctorpage-list-text {
  font-size: 22px;
  text-align: center;
  color: var(--color-accent);
}

.doctorpage-button {
  font-size: 22px;
  line-height: 137%;
  color: #fff;
  cursor: pointer;
  background-color: var(--background-color-button);
}

.doctorpage-accent {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.doctorpage-photo {
}

/* paymentspage */

.paymentspage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
}

.paymentspage-list-text {
  font-size: 22px;
  line-height: 183%;
  color: var(--color-accent);
}

.paymentspage-list-item {
  display: inline-block;
  margin-bottom: 54px;
  background-color: #cef2f0;
  border-radius: 50px;
  width: 270px;
  height: 270px;
  border: 1px solid #72b7f2;
  border-radius: 50px;
}

.paymentspage-list-item-last {
  border: 1px solid #72b7f2;
  border-radius: 50px;
  width: 270px;
  height: 270px;
  background-color: var(--background-color);
}

.paymentspage-list-item:hover,
.paymentspage-list-item:focus {
  box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.12);
  background: #f3dcdc;
  border: 2px solid var(--background-color-button-pseudo);
}

.paymentspage-list-item-last:hover,
.paymentspage-list-item-last:focus {
  border: 2px solid var(--background-color-button-pseudo);
}

.paymentspage-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

/* questionspage */

.questionspage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
}

.questionspage-list-item {
  font-weight: 600;
  font-size: 22px;
  line-height: 137%;
  color: var(--primary-text-color);
}

.questionspage-list-item:hover,
.questionspage-list-item:focus {
  color: var(--background-color-button-pseudo);
}

.questionspage-list-ordered-item {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-accent);
}

/* responsepage */

.responsepage-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 92%;
  color: var(--color-accent);
}

.responsepage-list-text {
  font-size: 22px;
  color: var(--primary-text-color);
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.responsepage-list-item {
  display: flex;
}

.responsepage-list-text-container {
  background-color: #f2f3f5;
  border: 1px solid var(--background-color-button);
  border-radius: 50px;
  margin-bottom: 50px;
}

.responsepage-container {
  display: flex;
  gap: 60px;
}

.responsepage-list-photo {
}

.responsepage-photo {
}

/* FOOTER */

.address-list {
  display: flex;
  gap: 140px;
}

.address-list-item-text {
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
  font-style: normal;
}

.address-list-item-link {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
  font-style: normal;
}

.footer-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
}

.footer-info-list-item {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
}

.footer-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
}

.footer-nav-list-link {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
}

.footer-service {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-accent);
}

.footer-service-list-item {
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-text-color);
}

.footer-nav-text:hover,
.footer-nav-text:focus {
  color: var(--color-accent);
}
